<body>
    <div class="row title-bar">
      <div class="medium-4 columns"> 
        <a href="https://energy.wisc.edu/" title="Wisconsin Energy Institute Home Page"><img src="{{root}}assets/img/wei-logo.png" alt="WEI Logo" title="WEI Logo" class="logo" /></a>
      </div>  
      <div class="medium-4 columns site-title text-center">
        <h1 class="title-bar-title"><a href="{{root}}" title="2015 Annual Report Home">2015 Annual Report</a></h1>
      </div> 
      <div class="medium-4 columns"> 
        <div id="social-share" class="no-byline">
          <div id="social-sharethis">
            <span class="st_facebook_button" st_url="http://exm.nr/foo" st_title="Title to share"></span>
            <span class="st_twitter_button" st_via="" st_url="http://exm.nr/foo" st_title="Title to share"></span>
            <span class="st_email_button" displayText="Email"></span>
          </div>
        </div>
      </div> 
    </div>      
    <div class="row" data-equalizer="foo" >