<script src="{{root}}assets/js/app.js"></script>
    {{!-- ShareThis Script --}}
    <script type="text/javascript">
    var switchTo5x=true;
    var __st_loadLate=true; //if __st_loadLate is defined then the widget will not load on domcontent ready
    </script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "eb6e46ab-315b-4a37-97e7-3a44faa44d9f", doNotHash: false, doNotCopy: false, hashAddressBar: false, embeds: true, onHover: false, shorten: false});</script>
  </body>
</html>