<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "eb6e46ab-315b-4a37-97e7-3a44faa44d9f", doNotHash: false, doNotCopy: false, hashAddressBar: false, embeds: true, onhover: false});</script>
    <script>
    var options={ "publisher": "eb6e46ab-315b-4a37-97e7-3a44faa44d9f", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "email", "sharethis"]}};
    var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
    </script>




    <meta property="og:title" content="ShareThis Homepage" />
    <meta property="og:url" content="http://sharethis.com" />
    <meta property="og:image" content="http://sharethis.com/images/logo.jpg" />
    <meta property="og:description" content="Sharing is great!" />


    $body-font-family: "museo-slab",Georgia,Times,"Times New Roman",serif;