<aside class="sidenav">
  <ul class="menu vertical sidenav-list" data-accordion-menu>
    <li><a href="#">Table of Contents</a></li>
    <li>
      <a class="menu-section {{#ifpage ''}}current{{/ifpage}}" href="#">Forward in Energy</a>
      <ul class="menu vertical nested {{#ifpage ''}}is-active{{/ifpage}}">
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Letter from the Director</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">2015 Timeline</a></li>
      </ul>
    </li>
    <li>
      <a class="menu-section {{#ifpage 'story-template-2' 'engineered-softwood-could-transform-pulp-paper-biofuel' 'better-battery-imaging-paves-renewable-energy-future' 'change-ahead-cutting-carbon-us-highways' 'solar-textile-collaboration-weaves-chemistry-design' 'biofuels-research-uncovers-natural-fungicide' 'six-year-study-suggests-perennial-crop-yields-can-compete-corn-stover'}}current{{/ifpage}}" href="#">World-Class Research</a>
      <ul class="menu vertical nested {{#ifpage 'story-template-2' 'engineered-softwood-could-transform-pulp-paper-biofuel' 'better-battery-imaging-paves-renewable-energy-future' 'change-ahead-cutting-carbon-us-highways' 'solar-textile-collaboration-weaves-chemistry-design' 'biofuels-research-uncovers-natural-fungicide' 'six-year-study-suggests-perennial-crop-yields-can-compete-corn-stover'}}is-active{{/ifpage}}">
        <li><a class="{{#ifpage 'better-battery-imaging-paves-renewable-energy-future'}}current{{/ifpage}}" href="better-battery-imaging-paves-renewable-energy-future">Boosting Battery Technology</a></li>
        <li><a class="{{#ifpage 'change-ahead-cutting-carbon-us-highways'}}current{{/ifpage}}" href="change-ahead-cutting-carbon-us-highways">Cutting Carbon from U.S. Highways</a></li>
        <li><a class="{{#ifpage 'solar-textile-collaboration-weaves-chemistry-design'}}current{{/ifpage}}" href="solar-textile-collaboration-weaves-chemistry-design">Creating the Solar Textile</a></li>
        <li><a class="{{#ifpage 'engineered-softwood-could-transform-pulp-paper-biofuel'}}current{{/ifpage}}" href="engineered-softwood-could-transform-pulp-paper-biofuel">Engineering for Energy Savings</a></li>
        <li><a class="{{#ifpage 'biofuels-research-uncovers-natural-fungicide'}}current{{/ifpage}}" href="biofuels-research-uncovers-natural-fungicide">Advancing Agriculture</a></li>
        <li><a class="{{#ifpage 'six-year-study-suggests-perennial-crop-yields-can-compete-corn-stover'}}current{{/ifpage}}" href="">Developing a Sustainable Biofuel Pipeline</a></li>
      </ul>
    </li>
    <li>
      <a class="menu-section {{#ifpage 'teachers-tackle-energy-science-energy-institute-educators'}}current{{/ifpage}}" href="#">Education &amp; Outreach</a>
      <ul class="menu vertical nested {{#ifpage 'teachers-tackle-energy-science-energy-institute-educators'}}is-active{{/ifpage}}">
        <li><a class="{{#ifpage 'teachers-tackle-energy-science-energy-institute-educators'}}current{{/ifpage}}" href="teachers-tackle-energy-science-energy-institute-educators">Training the Trainers</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Connecting to Schools</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Inspiring Students to Innovate</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Preparing Students to Lead</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Generating Discussion Across Sectors</a></li>
      </ul>
    </li>
    <li>
      <a class="menu-section {{#ifpage ''}}current{{/ifpage}}" href="#">Industrial Engagement</a>
      <ul class="menu vertical nested {{#ifpage ''}}is-active{{/ifpage}}">
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Strengthening Wisconsin’s Industries</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Using New Technologies in Wisconsin</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Studying Geothermal Systems in Rural Wisconsin</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Rethinking the Electrical Grid</a></li>
      </ul>
    </li>
    <li>
      <a class="menu-section {{#ifpage ''}}current{{/ifpage}}" href="#">Additional Info</a>
      <ul class="menu vertical nested {{#ifpage ''}}is-active{{/ifpage}}">
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">2015 Expenditures</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">2015 Awards, Grants &amp; Highlights</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Thank You to Our Donors</a></li>
        <li><a class="{{#ifpage ''}}current{{/ifpage}}" href="#">Contacts</a></li>
      </ul>
    </li>
  </ul>
</aside>